@font-face {
    font-family: 'DM Sans Medium';
    src: url('../fonts/DMSans-Medium.ttf');
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url('../fonts/DMSans-Bold.ttf');
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-family: 'DM Sans Bold';
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #fff, 10, 0, 0, 0);
    /*background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);*/
}

.root {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #FDD819, #E80505);
}

#paneContainer, #gameGrid, #scoreGrid, #defaultColors, #gameGridOrdi, #codeHumain, #codeReponseOrdi {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, #fff, 2, 0, 0, 0);
}

#paneContainer {
    -fx-padding: 20px;
}


.label {
    -fx-text-fill: #000;
    -fx-font-size: 20px;
    -fx-font-family: 'DM Sans Medium';
    -fx-effect: dropshadow(gaussian, #fff, 2, 0, 0, 0);

}

#title {
    -fx-font-size: 40px;
    -fx-font-family: 'DM Sans Bold';
    -fx-text-fill: #000;
    -fx-effect: dropshadow(gaussian, #fff, 6, 0, 0, 0), dropshadow(gaussian, #000, 6, 0, 0, 0);
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-text-fill: #000;
    -fx-font-size: 14px;
    /*-fx-padding: 10px;*/
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: 'DM Sans Medium';
    /*-fx-effect: dropshadow(gaussian, #fff, 2, 0, 0, 0);*/
}

.check-box {
    -fx-border-radius: 50;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #fff, 5, 0, 0, 0);
}

.check-box:selected .mark {
    -fx-background-color: rgb(255, 249, 249);
}

#rCheckbox .box {
    -fx-background-color: rgb(216, 52, 52);
    -fx-background-radius: 50;
}

#rCheckbox:hover .box, #rCheckbox:selected:hover .box {
    -fx-background-color: rgb(244, 52, 52);
}

#rCheckbox:pressed .box, #rCheckbox:selected .box, #rCheckbox:selected:pressed .box {
    -fx-background-color: rgb(216, 52, 52);
}

#bCheckbox .box {
    -fx-background-color: rgb(52, 134, 240);
    -fx-background-radius: 50;
}

#bCheckbox:hover .box, #bCheckbox:selected:hover .box {
    -fx-background-color: rgb(52, 162, 244);
}

#bCheckbox:pressed .box, #bCheckbox:selected .box, #bCheckbox:selected:pressed .box {
    -fx-background-color: rgb(52, 134, 240);
}

#vCheckbox .box {
    -fx-background-color: rgb(114, 206, 55);
    -fx-background-radius: 50;
}

#vCheckbox:hover .box, #vCheckbox:selected:hover .box {
    -fx-background-color: rgb(142, 210, 83);
}

#vCheckbox:pressed .box, #vCheckbox:selected .box, #vCheckbox:selected:pressed .box {
    -fx-background-color: rgb(114, 206, 55);
}

#jCheckbox .box {
    -fx-background-color: rgb(240, 209, 52);
    -fx-background-radius: 50;
}

#jCheckbox:hover .box, #jCheckbox:selected:hover .box {
    -fx-background-color: rgb(244, 213, 80);
}

#jCheckbox:pressed .box, #jCheckbox:selected .box, #jCheckbox:selected:pressed .box {
    -fx-background-color: rgb(240, 209, 52);
}

#oCheckbox .box {
    -fx-background-color: rgb(240, 130, 42);
    -fx-background-radius: 50;
}

#oCheckbox:hover .box, #oCheckbox:selected:hover .box {
    -fx-background-color: rgb(244, 158, 70);
}

#oCheckbox:pressed .box, #oCheckbox:selected .box, #oCheckbox:selected:pressed .box {
    -fx-background-color: rgb(240, 130, 42);
}

#nCheckbox .box {
    -fx-background-color: rgb(32, 32, 32);
    -fx-background-radius: 50;
}

#nCheckbox:hover .box, #nCheckbox:selected:hover .box {
    -fx-background-color: rgb(60, 60, 60);
}

#nCheckbox:pressed .box, #nCheckbox:selected .box, #nCheckbox:selected:pressed .box {
    -fx-background-color: rgb(32, 32, 32);
}
